@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import "./views.css";
@import "./resources.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Poppins", sans-serif;
	background-image: url("/back.jpg");
	background-color: rgb(255 255 255 / 0.97);
	@apply bg-blend-lighten;
}
html *[contenteditable="true"] {
	@apply p-1 px-2;
}
html *:not([contenteditable="true"]) {
	@apply select-none;
}
